* {
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
}
html,body {
    height: 100%;
    margin: 0;
}

body {
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    background-image: url("../assets/background-volkswagen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* text-align: center; */
}

header {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px ;
    background-color: gray;
}

nav {
    padding: 0px;
    margin-bottom:60px ;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 12px; 
}

nav::after {
    content: "";
    clear: both;
    display: block;
}

nav a {
    text-decoration: none;
    text-align: center;
    font-size: large;
    width: 25%;
    float: left;
    display: block;
    color: white;
    padding: 1% 0;
    border-radius: 12px;
}

a:hover {
    color: black;
    text-shadow: 2px 2px 3px white;
    font-size: x-large;
}

div {
    height: 220px;
    position: relative;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    cursor: pointer;
}

#image1 {
    background-image: url("../assets/image.jpg");
}

#image2 {
    background-image: url("../assets/image4.jpg");
}

#image3 {
    background-image: url("../assets/volkswagen-1.jpg")
}

#bus {
    height: auto;
}

#bus::after {
    content: "";
    display: block;
    clear: both;
}

#bus img {
    border-radius: 12px;
    margin-bottom: 20px;
}

#bus img:last-child{
    float: right;
}

/* #bus img {
    width: 45%;
    height: 430px;
    padding: 0px;
    margin: 0px;
    border-radius: 12px;
    margin-bottom: 20px;
    display: block;   
}

.bus1 {
    float: left;
}

.bus2 {
    float: right;
} */

section {
    color:black;
    text-shadow: 2px 2px 5px white;
    text-align: justify;
    position: absolute;
    bottom: 0px;
    height: 50px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 10px;
    margin: 0 auto;
    border-radius: 12px;
}

section:hover {
    height: auto;
    color: white;
    text-shadow: none;
}

section h2,p {
    transition: none;
}

footer {
    clear: both;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* margin-top: 50px ; */
    border-radius: 12px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(8, 8, 8, 0.74);
}

::-webkit-scrollbar-thumb {
    background-color:rgba(0, 0, 0, 0.466);
    border-radius: 12px;
}
/* #topbutton {
   
    position:sticky;
    top:90%;
    color:white;
    z-index: 7;
    margin-right: 20px;
    float: right;
    margin-bottom: 20px; 
    background-color: rgba(18, 62, 156, 0.466);
    border: 0px;
    border-radius: 6px;
    padding: 5px 12px;
    box-shadow: 2px 2px 5px white;
    font-size: large;
    cursor: pointer;
}

#topbutton:hover {
    background-color: rgba(119, 141, 189, 0.466);
    top: 88%;
} */

#topbutton {
    position: sticky;
    top: 90%;
    z-index: 7;
    background-color:gray;
    margin-right: 20px;
    padding: 5px 12px;
    cursor: pointer;
    font-size: large;
    border-radius: 7px;
    float: right;
    box-shadow: 0px 0px 4px white; 
}

#topbutton:hover {
    background-color: black;
    color: white;
    top: 88%;

}
@media screen and (max-width:900px) {
    #bus img {
        text-align: center;
        height: auto;
        width: 100%;
    }

}

@media screen and (max-width:320px) {
    div {
        height: 320px;
    }

    nav a {
        width: 100%;
    }
    
} 