html,body{
    height: 100%;
    margin: 0;
}
body{
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    background-image: url("../assets/background-volkswagen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
img{
    padding-top: 10px;
}
nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px ;
    background-color: gray;
}
nav{
    padding: 0px;
    margin-bottom:60px ;
    background-color: gray;
    border-radius: 12px; 
}
nav::after{
    content: "";
    clear: both;
    display: block;
}
nav a{
    text-decoration: none;
    text-align: center;
    font-size: large;
    width: 25%;
    display: block;
    float: left;
    color: white;
    padding: 1% 0;
    /* background-color: grey; */
    border-radius: 12px;
}
div {
    height: 220px;
    position: relative;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    cursor: pointer;
}
#image1{
    background-image: url("../assets/image.jpg");
}
#image2{
    background-image: url("../assets/image4.jpg");
}
#image3{
    background-image: url("../assets/volkswagen-1.jpg")
}

#bus img{
    width: 45%;
    height: 430px;
    padding: 0px;
    margin: 0px;
    border-radius: 12px;
    margin-bottom: 20px;
    display: block;   
}
.bus1{
    float: left;
}
.bus2{
    float: right;
} 
section{
    color:black;
    text-shadow: 2px 2px 5px white;
    text-align: justify;
    position: absolute;
    bottom: 0px;
    height: 60px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.781);
    padding: 10px;
    margin: 0 auto;
    border-radius: 12px;
}
section:hover{
    height: auto;
}
footer{
    clear: both;
    color: white;
    background-color: gray;
    margin-top: 50px ;
    border-radius: 12px;
}
@media screen and (max-width:900px){
    #bus{
        text-align: center;
        height: auto;
    }
    #bus img{
        display: block;
        margin-bottom: 20px;
        margin: 0px;
        margin-right: 0px;
    }
    .bus1{
        float: initial;
    }
    .bus2{
        float:inherit;
    }
}
@media screen and (max-width:320px){
    div{
        height: 320;
    }
}